/*
    Some styling for fun
*/
input {
    padding: 8px;
    width: 250px;
    margin-right: 10px;
  }
  
  button {
    padding: 8px 16px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }